  .doctorDetail {
    :global {
      .part {
        margin-top: -1px;
        font-size: 14px;
        border: 1px solid #dedede;
        .head {
          padding: 10px 20px;
          border-left: none;
          border-bottom: 1px solid #dedede;
          h3 {
            position: relative;
            color: #108ee9;
            font-size: 16px;
            padding-left: 14px;
            &:before{
              display: block;
              content: '';
              position: absolute;
              left: 0;
              top: 4px;
              width: 3px;
              height: 16px;
              background-color: #108ee9;
            }
          }
        }
        .content{
          padding: 20px;
          .recommendDoctor.ant-form{
            .ant-row .ant-row.ant-form-item{
              display: inline-block;
              width: 30%;
            }
          } 
          
        }
        .ant-form-item {
          display: flex;
          min-width: 360px;
          margin-bottom: 24px;
          .ant-form-item-label {
            min-width: 100px;
          }
          .ant-input, .ant-input-number, .ant-select {
            min-width: 220px;
          }
        }
        .uploadWrapper {
          text-align: center;
          .ant-upload.ant-upload-select-picture-card {
            width: 160px;
            height: 160px;
          }
          .ant-upload{
            padding: 0;
          }
          .uploadTip {
            .anticon {
              margin-top: 34px;
              font-size: 48px;
            }
            .ant-upload-text {
              margin-top: 20px;
            }
          }
          img {
            width: 100%;
            height: 100%;
          }
        }
      }
      .baseInfo {
        .content {
          display: flex;
          padding: 20px;
        }
        .imgWraper {
          width: 160px;
          height: 160px;
        }
        .filedsWraper {
          flex: 1;
          padding-left: 30px;
          .textArea {
            .ant-form-item-label {
              vertical-align: top;
            }
            textarea {
              margin: 0px;
              height: 116px;
              width: 639px;
            }
          }
        }
      }
      .auditInfo {
        .content {
          display: flex;
          padding: 20px;
        }
      }
      .audit{
        padding-top: 20px;
      }
      .btnGroup {
        padding: 30px 0;
        text-align: center;
        button {
          margin: 0 10px;
        }
      }
    }
  }