.caseDetail {
  :global {
    .part {
      margin-top: -1px;
      font-size: 14px;
      border: 1px solid #dedede;
      .head {
        padding: 10px 20px;
        margin-bottom: 15px;
        border-left: none;
        border-bottom: 1px solid #dedede;
        h3 {
          position: relative;
            color: #108ee9;
            font-size: 16px;
            padding-left: 15px;
            &:before{
              display: block;
              content: '';
              position: absolute;
              left: 0;
              top: 5px;
              width: 3px;
              height: 16px;
              background-color: #108ee9;
            }
        }
      }
      .ant-form-item {
        min-width: 340px;
        margin-bottom: 20px;
        .ant-form-item-label {
          min-width: 100px;
        }
        .ant-input, .ant-input-number, .ant-select {
          min-width: 220px;
        }
        .longInput {
          min-width: 639px;
        }
      }
    }
    .imagesInfo {
      .content {
        padding: 20px;
        >span{
          display: flex;
        }
      }
      .ant-upload-list {
        display: flex;
      }
      .ant-upload-list-picture-card .ant-upload-list-item, .ant-upload.ant-upload-select-picture-card {
        float: inherit;
        width: 140px;
        height: 140px;
      }
      .anticon-plus {
        font-size: 30px;
        margin-top: 20px;
        margin-bottom: 10px;
      }
    }
    .btnGroup {
      padding: 30px 0;
      text-align: center;
      button {
        margin: 0 10px;
      }
    }
  }
}